{% extends "page.html.twig" %}

{# Content #}
{% block page_content %}
  {{ page.content }}
  {% if logged_in %}
    <p>
      {{ 'Here is a suggestion to what you can do. Try to log out of <a href="/user/logout?destination=@requestUri">@siteName</a>'|t({'@requestUri': requestUri, '@siteName': siteName}) }}
    </p>
  {% endif %}
{% endblock %}
