{% extends "page.html.twig" %}

{# Content #}
{% block page_content %}
  {{ attach_library('os2forms_selvbetjening_theme/logout-suggestion') }}

  {{ page.content }}
  {% if logged_in %}
    <p>
      {% set url = path('user.logout') %}
      {{ 'Here is a suggestion to what you can do. Try <a id="logout_suggestion" href=":url">logging out</a>.'|t({':url': url}) }}
    </p>
  {% endif %}
{% endblock %}
