.content-header {
  background-color: transparent;
  padding-bottom: var(--space-s);
}

.logo img {
  max-height: 60px;
  margin-bottom: 1em;
}

.footer {
  overflow: hidden;
  margin-bottom: .75rem;
  padding: 1.5rem 0 0;

  .layout-container {
    display: block;
    width: 100%;

    & > div {
      display: block;
      width: 25%;
      float: left;
      box-sizing: border-box;
      padding: 0 1em;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }

      @media only screen and (max-width: 600px) {
        width: 100%;
        padding: 0;

        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          padding-right: 0;
        }
      }
    }
  }

  .logo img {
    max-height: 60px;
  }

  .menu,
  .nav {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      list-style: none;
      margin: 0;
      padding: 0;

      & > a {
        position: relative;
        display: block;
        padding: 10px 15px;

        @media only screen and (max-width: 600px) {
          padding: 0;
        }
      }
    }
  }
}

.block-lang-dropdown {
  display: flex;
  justify-content: flex-end;

  @media only screen and (max-width: 600px) {
    justify-content: flex-start;
  }

  .form-item {
    margin-top: 0;
  }
}

/* Fix Radio header in custom composite responsive */
@media (max-width: 768px) {
  .webform-multiple-table-responsive table td legend > span.visually-hidden {
    position: relative !important;
    height: auto;
    width: auto;
    color: #232429;
  }
}

/* Fix absolute positioning of hidden scale input causing unwanted scroll on click */
.webform-scale-options > .webform-scale-option > div.form-item {
  position: relative;
}

.button--outline--primary {
  background-color: #fff;
  border-color: #003ecc !important;
  color: #003ecc;
  cursor: pointer;
  border-width: 2px !important;
  border-radius: 5px;
}

.button--outline--primary:hover {
  background-color: #003ecc;
  border-color: #003ecc !important;
  color: #fff;
  cursor: pointer;
  border-width: 2px !important;
  border-radius: 5px;
}


.webform-button--next {
  background-color: var(--button-bg-color--primary);
  border: 2px solid #13224B;
  border-width: 2px 2px 4px 2px;
  color: white;
  border-radius: 5px;
}

.webform-button--next:hover {
  background-color: #023AAB;
  color: white;
}

.webform-button--previous {
  background-color: white;
  border: 2px solid black;
  border-width: 2px 2px 4px 2px;
  border-radius: 5px;
}

.webform-button--previous:hover {
  background-color: var(--button-bg-color);;
}


.webform-button--submit {
  border: 2px solid #13224B;
  border-width: 2px 2px 4px 2px;
  border-radius: 5px;
}


.form-boolean--type-radio {
  width: 24px;
  height: 24px;
  border-radius: 24px;
  border-width: 2px;
  border-color: black;
}

.form-boolean-group .form-type--boolean {
  margin-bottom: 15px;
}

.form-boolean--type-checkbox {
  width: 24px;
  height: 24px;
  border-width: 2px;
  border-color: black;
}


.form-item__label,
.fieldset__label {
  font-size: 16px;
  margin-bottom: 10px;
}

.webform-element-description,
.webform-element-help,
.webform-element-more--link,
.webform-element-more--content {
  font-size: 16px;
}

.form-type-checkbox .webform-element-description {
  margin-left: -28px;
}

.webform-element-more--link a {
  color: black;
  font-weight: bold;
}


.os2forms-organisation-search-query > .form-submit {
  line-height: 0.6;
}

.os2forms-organisation-search-query > .form-type-textfield {
  flex-basis: 63.5%;
}

.webform-submission-form h1 {
  font-size: 72px;
}

.webform-submission-form h2 {
  font-size: 48px;
}

.webform-submission-form h3 {
  font-size: 28px;
}

.webform-submission-form h4 {
  font-size: 24px;
}

.webform-submission-form h5 {
  font-size: 20px;
}

.webform-submission-form h6 {
  font-size: 16px;
}

.webform-element-description,
.webform-submission-form .form-textarea-wrapper,
.form-type-webform-markup {
  width: 50%;
}

@media only screen and (max-width: 1000px) {
  .webform-submission-form .form-textarea-wrapper,
  .webform-submission-form .webform-element-description,
  .form-type-webform-markup {
    width: 100%;
  }
}
