.content-header {
  background-color: transparent;
  padding-bottom: var(--space-s);
}

.logo img {
  max-height: 60px;
  margin-bottom: 1em;
}

.footer {
  overflow: hidden;
  margin-bottom: .75rem;
  padding: 1.5rem 0 0;

  .layout-container {
    display: block;
    width: 100%;

    & > div {
      display: block;
      width: 25%;
      float: left;
      box-sizing: border-box;
      padding: 0 1em;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }

      @media only screen and (max-width: 600px) {
        width: 100%;
        padding: 0;

        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          padding-right: 0;
        }
      }
    }
  }

  .logo img {
    max-height: 60px;
  }

  .menu,
  .nav {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      list-style: none;
      margin: 0;
      padding: 0;

      & > a {
        position: relative;
        display: block;
        padding: 10px 15px;

        @media only screen and (max-width: 600px) {
          padding: 0;
        }
      }
    }
  }
}

.block-lang-dropdown {
  display: flex;
  justify-content: flex-end;

  @media only screen and (max-width: 600px) {
    justify-content: flex-start;
  }

  .form-item {
    margin-top: 0;
  }
}

/* Fix Radio header in custom composite responsive */
@media (max-width: 768px) {
  .webform-multiple-table-responsive table td legend > span.visually-hidden {
    position: relative !important;
    height: auto;
    width: auto;
    color: #232429;
  }
}

/* Fix absolute positioning of hidden scale input causing unwanted scroll on click */
.webform-scale-options > .webform-scale-option > div.form-item {
  position: relative;
}

.button--outline--primary {
  background-color: #fff;
  border-color: #003ecc !important;
  color: #003ecc;
  cursor: pointer;
  border-width: 2px !important;
  border-radius: 5px;
}

.button--outline--primary:hover {
  background-color: #003ecc;
  border-color: #003ecc !important;
  color: #fff;
  cursor: pointer;
  border-width: 2px !important;
  border-radius: 5px;
}

/* Adjustments for webform flexbox */
@media (min-width: 768px) {
  /* Allow potential wrapping. Overrides web/modules/contrib/webform/css/webform.element.flexbox.css */
  .webform-flex--container .form-type-checkbox,
  .webform-flex--container .form-type-radio {
    white-space: inherit;
  }

  /* Add margin to align checkboxes inside flex layout. */
  .webform-flexbox {
    margin: 0 var(--space-l) calc(var(--space-m) + var(--space-s));
  }
}
