.content-header {
  background-color: transparent;
}

.logo img {
  max-height: 60px;
  margin-bottom: 1em;
}

.footer {
  overflow: hidden;
  margin-bottom: .75rem;
  padding: 1.5rem 0 0;

  .layout-container {
    display: block;
    width: 100%;

    & > div {
      display: block;
      width: 25%;
      float: left;
      box-sizing: border-box;
      padding: 0 1em;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }

      @media only screen and (max-width: 600px) {
        width: 100%;
        padding: 0;

        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          padding-right: 0;
        }
      }
    }
  }

  .logo img {
    max-height: 60px;
  }

  .menu,
  .nav {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      list-style: none;
      margin: 0;
      padding: 0;

      & > a {
        position: relative;
        display: block;
        padding: 10px 15px;

        @media only screen and (max-width: 600px) {
          padding: 0;
        }
      }
    }
  }
}
