.fc-icon {
  display: none;
}

.calendar-cell-info {
  display: flex;
  .calendar-cell-info-button {
    all: unset;
    cursor: pointer;
    color: #0a6eb4;
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:hover {
      text-decoration: underline;
    }
  }
  .calendar-cell-info-button > img {
    margin-right: 5px;
  }
}
