.list-resource {
  display: flex;
  flex-direction: row;
  padding: 10px;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  .image {
    height: 150px;
    width: 150px;
    overflow: hidden;
    position: relative;
    display: block;

    img {
      transform: translateY(-50%);
      display: block;
      width: 100%;
      position: absolute;
      margin: 0 auto;
      top: 50%;
    }

    svg {
      transform: translateY(-50%);
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      margin: 0 auto;
      top: 50%;
    }
  }

  .list-resource-details {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);

    .headline {
      margin: 0 0 0 0;
      font-size: var(--font-size-base);
    }

    .location {
      display: flex;
      align-items: center;

      .location-icon {
        flex-direction: row;
        justify-content: center;
        margin-right: var(--space-xs);
        height: 18px;
      }
    }

    .facility-container {
      display: flex;
      flex-direction: row;
      gap: var(--space-l);

      .facility-icon {
        display: flex;
        flex-direction: row;
        gap: var(--space-xs);
      }
    }

    .description {
      margin: 0 0 0 0;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .list-resource-actions {
    display: flex;
    flex-direction: column;

    .booking-btn {
      margin: auto;
      white-space: nowrap;
      background-color: var(--primary-button-color);
      border-color: var(--primary-button-color-900);

      &:hover {
        background-color: var(--primary-button-color-900);
      }
    }
  }
}
