.main-navigation-content {
  margin-bottom: 1em;
  background: #2d3e4f;
  padding: 1em;

  ul {
    display: flex;
    list-style-type: none;
    list-style-image: none;
    padding: 0;
    margin: 0;
  }

  li {
    margin-right: 2em;

    &:last-child {
      margin-right: 0;
    }
  }

  .main-navigation-link {
    font-weight: bold;
    text-decoration: none;
    color: #fff;

    &:hover,
    &:visited,
    &:active {
      color: #fff;
    }

    &.active {
      text-decoration: underline;
    }
  }
}
