on: pull_request
name: Playwright Tests
jobs:
  playwright:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Install site
        run: |
          docker network create frontend
          docker network create serviceplatformen_organisation_api_app
          docker compose pull
          docker compose up --detach
          # Important: Use --no-interaction to make https://getcomposer.org/doc/06-config.md#discard-changes have effect.
          docker compose exec --user root phpfpm composer install --no-interaction
          # Install the site
          docker compose exec --user root phpfpm vendor/bin/drush site:install --existing-config --yes
          # Download and install external libraries
          docker compose exec --user root phpfpm vendor/bin/drush webform:libraries:download
          # Build theme assets
          docker compose run --rm node yarn --cwd /app/web/themes/custom/os2forms_selvbetjening_theme install
          docker compose run --rm node yarn --cwd /app/web/themes/custom/os2forms_selvbetjening_theme build
          # Open the site
          echo $(docker compose exec phpfpm vendor/bin/drush --uri=http://$(docker compose port nginx 8080) user:login)


      - name: Install dependencies
        run: yarn install

      - name: Install Playwright Browsers
        run: docker compose run --rm playwright yarn playwright install --with-deps

      - name: Run Playwright tests
        run: |
          docker compose run --rm playwright yarn playwright test --update-snapshots --retries 3 | tee output.log
          if grep -q -e "Error: A snapshot doesn't exist at" -e "Screenshot comparison failed" output.log; then
            echo "Playwright tests failed due to a snapshot issue."
            echo "SNAPSHOT_DIFFERENCES=true" >> $GITHUB_ENV
            exit 1
          elif grep -q "failed" output.log; then
            echo "Playwright tests failed due to a non-snapshot issue."
            exit 1
          fi
      - uses: actions/upload-artifact@v4
        id: artifact-upload
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
      - name: Comment on PR with report link
        uses: thollander/actions-comment-pull-request@v3
        if: ${{ failure() && env.SNAPSHOT_DIFFERENCES == 'true' }}
        with:
          message: |
            ### Playwright visual snapshot differences were detected.
            View the [Playwright report](${{ steps.artifact-upload.outputs.artifact-url }}) to review the visual differences.
            **To approve the snapshot changes and update the snapshots, please comment:** /approve-snapshots
